In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set()

In [7]:
data = pd.read_csv("/home/jvfe/Downloads/2016 Stack Overflow Survey Responses.csv")
data = data.dropna()
data.shape

(15591, 66)

In [8]:
data.head()

,Unnamed: 0,collector,country,un_subregion,so_region,age_range,age_midpoint,gender,self_identification,occupation,...,important_sameend,important_newtech,important_buildnew,important_buildexisting,important_promotion,important_companymission,important_wfh,important_ownoffice,developer_challenges,why_stack_overflow
187,1019,Facebook,Australia,Australia and New Zealand,Oceania,40-49,44.5,Male,Developer; Programmer; Sr. Developer; Guru; Ex...,Full-stack web developer,...,I don't care about this,This is very important,This is very important,I don't care about this,I don't care about this,I don't care about this,I don't care about this,I don't care about this,Unrealistic expectations; Interacting with stu...,To get help for my job; To demonstrate that I'...
196,25993,Facebook,Australia,Australia and New Zealand,Oceania,20-24,22.0,Male,Developer; Engineer; Hacker,System administrator,...,This is somewhat important,This is somewhat important,This is somewhat important,This is somewhat important,This is very important,This is very important,I don't care about this,I don't care about this,Poor team dynamics; Inefficient development pr...,Because I can't do my job without it; Beacause...
197,26002,Facebook,Australia,Australia and New Zealand,Oceania,20-24,22.0,Male,Programmer,Enterprise level services developer,...,This is very important,This is very important,This is very important,This is somewhat important,This is somewhat important,This is very important,This is somewhat important,This is very important,Inefficient development processes; Fragile cod...,To get help for my job; whyso_onlinepresence; ...
199,26469,Facebook,Australia,Australia and New Zealand,Oceania,30-34,32.0,Male,Developer; Programmer; Full-stack Developer,Analyst,...,This is somewhat important,This is very important,This is very important,This is very important,I don't care about this,This is very important,I don't care about this,I don't care about this,Inefficient development processes; Outdated te...,To get help for my job; To give help to others...
200,27081,Facebook,Australia,Australia and New Zealand,Oceania,30-34,32.0,Male,Developer; Engineer; Programmer; Sr. Developer...,Full-stack web developer,...,I don't care about this,This is somewhat important,This is somewhat important,This is very important,This is very important,This is very important,This is very important,This is very important,Poor team dynamics; Inefficient development pr...,Beacause I love to learn

In [9]:
list(data)

['Unnamed: 0',
 'collector',
 'country',
 'un_subregion',
 'so_region',
 'age_range',
 'age_midpoint',
 'gender',
 'self_identification',
 'occupation',
 'occupation_group',
 'experience_range',
 'experience_midpoint',
 'salary_range',
 'salary_midpoint',
 'big_mac_index',
 'tech_do',
 'tech_want',
 'aliens',
 'programming_ability',
 'employment_status',
 'industry',
 'company_size_range',
 'team_size_range',
 'women_on_team',
 'remote',
 'job_satisfaction',
 'job_discovery',
 'dev_environment',
 'commit_frequency',
 'hobby',
 'dogs_vs_cats',
 'desktop_os',
 'unit_testing',
 'rep_range',
 'visit_frequency',
 'why_learn_new_tech',
 'education',
 'open_to_new_job',
 'new_job_value',
 'job_search_annoyance',
 'interview_likelihood',
 'how_to_improve_interview_process',
 'star_wars_vs_star_trek',
 'agree_tech',
 'agree_notice',
 'agree_problemsolving',
 'agree_diversity',
 'agree_adblocker',
 'agree_alcohol',
 'agree_loveboss',
 'agree_nightcode',
 'agree_legacy',
 'agree_mars',
 'important_variety',
 'important_control',
 'important_sameend',
 'important_newtech',
 'important_buildnew',
 'important_buildexisting',
 'important_promotion',
 'important_companymission',
 'important_wfh',
 'important_ownoffice',
 'developer_challenges',
 'why_stack_overflow']

In [40]:
data_clean = data[["remote", "company_size_range", "age_midpoint", "experience_midpoint"]]

data_clean

,remote,company_size_range,age_midpoint,experience_midpoint
187,I rarely work remotely,1-4 employees,44.5,13.0
196,I rarely work remotely,I am not sure,22.0,3.5
197,I rarely work remotely,5-9 employees,22.0,1.5
199,I rarely work remotely,I am not sure,32.0,8.0
200,Part-time remote,20-99 employees,32.0,13.0
...,...,...,...,...
55996,Part-time remote,"5,000-9,999 employees",22.0,3.5
55997,Full-time remote,100-499 employees,54.5,13.0
55998,I rarely work remotely,20-99 employees,37.0,13.0
55999,Never,100-499 employees,32.0,8.0
56000,Part-time remote,"10,000+ employees",27.0,3.5

In [44]:
data_clean['remote'] = data_clean['remote'].replace(['Part-time remote','Full-time remote'], 'yes')
data_clean['remote'] = data_clean['remote'].replace(['Never', 'I rarely work remotely'], 'no')
data_clean

      remote     company_size_range  age_midpoint  experience_midpoint
187       no          1-4 employees          44.5                 13.0
196       no          I am not sure          22.0                  3.5
197       no          5-9 employees          22.0                  1.5
199       no          I am not sure          32.0                  8.0
200      yes        20-99 employees          32.0                 13.0
...      ...                    ...           ...                  ...
55996    yes  5,000-9,999 employees          22.0                  3.5
55997    yes      100-499 employees          54.5                 13.0
55998     no        20-99 employees          37.0                 13.0
55999     no      100-499 employees          32.0                  8.0
56000    yes      10,000+ employees          27.0                  3.5

[15591 rows x 4 columns]

In [45]:
data_clean['remote'].value_counts()

no     11243
yes     4348
Name: remote, dtype: int64